
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= img(idea.image) if idea.image %>
      <div class="caption">
        <h3><%= idea.title %></h3>
        <p><%= idea.description %></p><br>
          Tags:
            <% idea.tags.each do |tag| %>
            <a href="/tag/<%= tag %>"><%= tag %></a>
            <% end %>
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge"><%= idea.rank %></span>
            likes:
            <div class='btn-group' >
              <button class='btn btn-default' form="edit_idea_form_<%= idea.id %>" type='submit'>edit</button>
              <button class='btn btn-default' form="delete_idea_form_<%= idea.id %>" type='submit'>delete</button>
              <button class='btn btn-default' form="idea_like_<%= idea.id %>" type='submit'>like</button>
              <button class='btn btn-default' form="idea_dislike_<%= idea.id %>" type='submit'>dislike</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <form id="edit_idea_form_<%= idea.id %>" action="/edit/<%= idea.id %>" method="GET" style="display:none">
      <input type='submit' value="edit">
    </form>
    <form id="delete_idea_form_<%= idea.id %>" action="/delete/<%= idea.id %>" method="POST" style="display:none">
      <input type="hidden" name="_method" value="DELETE">
    </form>
    <form id="idea_like_<%= idea.id %>" action='/like/<%= idea.id %>' method="POST">
    </form>
    <form id="idea_dislike_<%= idea.id %>" action='/dislike/<%= idea.id %>' method="POST">
    </form>
  </div>
